<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="60" name="${project.artifactId}" status="WARN">

    <!--
        The "status" attribute above controls what level of Log4j2-internal initialisation calls are logged.
        This can be changed to for example "DEBUG" to see how Log4j2 is initialising the logging system (or failing to).

        "monitorInterval" controls how frequently, in seconds, the app will check for changes to the log config file.
         On a change detection, log4j2 will re-configure itself at runtime based on the new configuration.

         Log files are rotated on a daily basis, or a maximum size limit, into a month-specific subdirectory.
    -->
    <properties>
        <!-- Default/fallback properties -->
        <!--<property name="catalina.base">./</property>-->
        <!--<property name="git.commit.id.describe">artefact fingerprint unavailable</property>-->
        <!--<property name="transactionGUID">xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</property>-->

        <!-- Configuration properties -->
        <property name="primary_log_file"><![CDATA[\${sys:catalina.base}/logs/${project.artifactId}.log]]></property>
        <property name="log_rotation_pattern">
            <![CDATA[\${sys:catalina.base}/logs/%d{yyyy-MM}/${project.artifactId}.\${hostName}-%d{yyyy-MM-dd}-%i.log.gz]]></property>

        <property name="message_pattern">
            <!--<![CDATA[%d{ISO8601} [\${hostName};${project.artifactId};%20.20t;$$\${ctx:transactionGUID}] (git:${git.commit.id.describe}) %-80.80logger %5level  -  %message%n%xThrowable]]></property>-->
        <![CDATA[%d{ISO8601} %-80.80logger %5level  -  %message%n%xThrowable]]></property>
    </properties>

    <appenders>
        <!--<RollingFile name="FILE" fileName="\${primary_log_file}"-->
                     <!--filePattern="\${log_rotation_pattern}">-->
            <!--<PatternLayout pattern="\${message_pattern}"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy/>-->
                <!--<SizeBasedTriggeringPolicy size="250 MB"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${message_pattern}"/>
        </Console>
    </appenders>

    <loggers>
        <root level="WARN">
            <appender-ref ref="STDOUT"/>
        </root>

        <logger name="com.idms" level="DEBUG" />
    </loggers>

</configuration>
